* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 50px;
}

.logo img {
  height: 40px;
  width: auto;
  display: block;
}

nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

ul li {
  list-style-type: none;
  margin-right: 20px;
}

ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  line-height: 60px;
  position: relative;
}

nav a:hover {
  color: #00acdc; /* color: #00bcd4; */
}

nav a.is-active {
  color: #00acdc; /* color: #00bcd4; */
  position: relative;
  text-decoration: none;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a.is-active::after {
  content: '';
  padding: 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00acdc; /* background-color: #00bcd4; */
  height: 4px;
  width: 100%;
  border-radius: 16px;
}
